fastapi
uvicorn
python-dotenv
pydantic
requests
tiktoken
pip-system-certs

yt-dlp

groq
httpx
langchain-core
langchain-community
langchain-groq
langchain-pinecone
langchain-text-splitters
langchain-google-genai
pinecone-client